:root {
  --tomtom-red-color: #df1b12;
  --tomtom-white-color: #ffffff;
  --tomtom-black-color: #000000;
  --tomtom-gray-color: #f5f5f5;
  --tomtom-green-color: #00a65e;
  --tomtom-yellow-color: #ffcc00;
  --tomtom-orange-color: #ff5d00;
  --tomtom-blue-color: #0078ff;
  --tomtom-dark-blue-color: #004b7f;
  --tomtom-dark-gray-color: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--tomtom-black-color);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  background-color: var(--tomtom-white-color);
  padding: 20px;
}

header {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: flex-start;
  align-items: center;
  font-weight: 700;
  color: var(--tomtom-red-color);
  font-size: 1rem;
  align-self: flex-start;
  padding: 0 20px;
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--tomtom-dark-gray-color);
  opacity: 0.5;
  cursor: pointer;
}

.tab.active {
  color: var(--tomtom-red-color);
  opacity: 1;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

main > h1 {
  width: 10%;
}

/* #map-containerFoo {
  width: 70%;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed var(--tomtom-gray-color);
} */

.map-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed var(--tomtom-gray-color);
}

.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

#map {
  height: 100%;
  width: 50%;
  border-radius: 10px;
}

#browse-map {
  height: 600px;
  width: 60%;
  border-radius: 10px;
}

.highlighted-field {
  border-left: 2px solid var(--tomtom-red-color);
  padding-left: 10px;
  color: var(--tomtom-dark-gray-color);
  width: 30%;
}

.highlighted-field ul {
  list-style-type: none;
  padding-left: 0;
}

.highlighted-field li {
  padding: 0 10px;
  margin-bottom: 4px;
}

.highlighted-field li::before {
  content: "■";
  color: var(--tomtom-red-color);
  padding-right: 8px;
}

#route-title {
  margin-bottom: 12px;
  font-size: 1rem;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
  margin-bottom: 12px;
}

#header-logo {
  height: 40px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--tomtom-red-color); /* Border color */
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 8px; /* Spacing between checkbox and label */
}

input[type="checkbox"]:checked {
  background-color: var(--tomtom-red-color);
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.guidance-marker {
  background-color: var(--tomtom-red-color);
  border-radius: 3rem 3rem 0 3rem;
  transform: rotate(45deg);
  border: 1px solid var(--tomtom-white-color);
}

code {
  background-color: var(--tomtom-gray-color);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

input[type="file"]::file-selector-button {
  border: 2px solid var(--tomtom-red-color);
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: var(--tomtom-white-color);
  color: var(--tomtom-red-color);
  transition: 0.5s;
}

input[type="file"]::file-selector-button:hover {
  background-color: var(--tomtom-red-color);
  border: 2px solid var(--tomtom-red-color);
  color: var(--tomtom-white-color);
}

.custom-div-icon {
  background-color: var(--tomtom-dark-blue-color);
  border-radius: 50%;
  border: none;
  line-height: 24px;
  text-align: center;
}

.ruler-icon {
  background-color: var(--tomtom-black-color);
  border-radius: 50%;
  border: 1px solid var(--tomtom-red-color);
  text-align: center;
}

.number {
  color: #fff;
  font-size: 0.8rem;
}

.note {
  font-size: 0.8rem;
}

.note * {
  font-size: 0.8rem;
}

.note-title {
  font-weight: bold;
  color: var(--tomtom-red-color);
}

.note-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 10px;
  border-radius: 10px;
}

.key {
  font-weight: bold;
  color: var(--tomtom-orange-color);
}

.note-icon {
  margin-left: -8px;
}

.circle {
  display: inline-block;
  background-color: #000000;
  border-radius: 50%;
  border: 1px solid var(--tomtom-dark-blue-color);
  width: 15px;
  height: 15px;
}

.orange {
  background-color: var(--tomtom-orange-color);
}

.green {
  background-color: var(--tomtom-green-color);
}

.yellow {
  background-color: var(--tomtom-yellow-color);
}

.teal {
  background-color: #6ce9cf;
}

.blue {
  background-color: #71c3f0;
}

.red {
  background-color: #e56d68;
}

.legend {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  font-size: inherit;
}

.waypoint-icon {
  background-color: var(--tomtom-yellow-color);
  width: 20px;
  height: 20px;
  border: none;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.1);
}

.loader-spinner {
  border: 8px solid var(--tomtom-gray-color);
  border-top: 8px solid var(--tomtom-red-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 500ms infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.route-point-icon {
  background-color: var(--tomtom-red-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
}

.map-style {
  height: 600px;
}

select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--tomtom-red-color);
  background-color: var(--tomtom-white-color);
  margin-bottom: 1rem;
}